@import url('https://fonts.googleapis.com/css?family=Raleway');
body
    font-family 'Raleway', sans-serif


// Bootstrap
.modal.modal-large .modal-dialog 
    width 80%

.modal.modal-large .modal-body 
    overflow-y auto
    
.modal-dialog
    width 95%
