{% extends "front/base.html" %}
{% load static %}
{% block content %}
    <h3><i class="fa fa-user text-warning"></i> {{actual.nombre}}</h3>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Hora</th>
                        <th>Asunto</th>
                        <th>Lugar</th>
                    </tr>
                </thead>
            {% for agenda in agendas %}
                <tr>
                    <td>{{agenda.fecha_hora|date:"h:i"}}</td>
                    <td><a href="{% url 'front:evento' agenda.pk %}">{{agenda.asunto}}</a></td>
                    <td>{{agenda.lugar}}</td>                   
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No existen eventos para este día</td>
                </tr>
            {% endfor %}
            </table>

        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <div class="well">
                    <form action="{% url 'front:agenda' actual.pk %}" method="get">
                        <label for="datepicker">Fecha actual:</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" id="datepicker" value="{{fecha|date:"d M Y"}}" required>
                            <input type="hidden" name="fecha" value="{{fecha|date:"U"}}" id="fecha">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit"><i class="fa fa-arrow-right"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <h3>Ver agenda organizada por</h3>  
                <ul class="list-unstyled">
                    {% for participante in participantes %}
                    {% if actual.id == participante.id  %}
                        <li class="comun-lista active">{{ participante.nombre }} </li>
                    {% else %}
                        <li class="comun-lista"><a href="{% url 'front:agenda' participante.pk %}">{{ participante.nombre }}</a></li>                    
                    {% endif %}
                    {% endfor %}
                </ul>

                <h3>Otras categorías</h3>
                <ul class="list-unstyled">
                    {% for cat in categorias %}
                        <li class="comun-lista"><a href="{% url 'front:categoria' cat.slug %}">{{ cat.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

{% block title %}Actividades oficiales{% endblock title %}

{% block page %}Actividades oficiales{% endblock page %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:actividades" %}"><span itemprop="name">Actividades oficiales</span></a>
        <meta itemprop="position" content="2">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:agenda" actual.pk %}" class="hidden"><span itemprop="name">{{actual.nombre}}</span></a>
        {{ actual.nombre }}
        <meta itemprop="position" content="3">
      </li>
    </ol>
{% endblock breadcrumb %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static "front/js/datepicker.js" %}"></script>
{% endblock js %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock css %}
