{% extends "front/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
            {% for documento in documentos %}
                <li class="documento-lista">
                    <a href="{% url 'front:documento' documento.id %}">{{documento.nombre}}</a> <br>
                    <span class="categoria-lista" title="Categoría"><i class="fas fa-tag"></i> <a href="{% url 'front:categoria' documento.categoria.pk %}">{{documento.categoria.cadena}}</a></span> <br>
                    <span class="fecha-lista" title="Fecha de subida"><i class="fas fa-calendar"></i> {{documento.fecha|date:"d M Y"}}</span>
                </li>
            {% empty %}
                <li>No existen documentos</li>
            {% endfor %}
            </ul>

            {% if documentos.has_other_pages %}
              <ul class="pagination">
                {% if documentos.has_previous %}
                  <li><a href="?page={{ documentos.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in documentos.paginator.page_range %}
                  {% if documentos.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(actual)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if documentos.has_next %}
                  <li><a href="?page={{ documentos.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        </div>
        <div class="col-md-4">
            <h3>Búsqueda Avanzada</h3>
            <form id="busqueda-form" action="{% url 'front:buscar' %}" method="get">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" name="q" value="{% if request.GET.q %}{{request.GET.q}}{%endif%}">
              </div>

              <hr>
              <h4>Categorías</h4>
              <ul class="list-unstyled">
                  {% for cat in categorias %}
                      {% if cats %}
                      <li><label><input type="checkbox" value="{{cat.id}}" name="categoria[]" {% if cat.id in cats %}checked{% endif %}> {{ cat.nombre }}</label></li>
                      {% else %}
                      <li><label><input type="checkbox" value="{{cat.id}}" name="categoria[]" checked> {{ cat.nombre }}</label></li>
                      {% endif %}
                  {% endfor %}
              </ul>

              <hr>
              <h4>Fechas</h4>
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control dtp" placeholder="Desde" value="{% if desde %}{{desde|date:"d M Y"}}{% endif %}" id="desdep">
                  <input type="hidden" name="desde" value="{% if desde %}{{desde|date:"U"}}{% endif %}" id="desde">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control dtp" placeholder="Hasta"value="{% if hasta %}{{hasta|date:"d M Y"}}{% endif %}" id="hastap">
                  <input type="hidden" name="hasta" value="{% if hasta %}{{hasta|date:"U"}}{% endif %}" id="hasta">
                </div>
              </div>
              <hr>
              <div class="d-grid gap-2">
              <button class="btn btn-block btn-primary"><i class="fas fa-search"></i> Buscar</button>
              </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block title %}Resultados de búsqueda{% endblock title %}

{% block page %}Resultados de búsqueda{% endblock page %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li clasS="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li clasS="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        Búsqueda
        <meta itemprop="position" content="2">
      </li>
    </ol>
    </nav>
{% endblock breadcrumb %}
