{% extends "front/base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col-md-8">
            <div class="arbol">
                <ul>
                    {% for documento in categoria.documento_set.all|dictsortreversed:"fecha"  %}
                        {% if documento.archivo_set.count == 1 %}
                            <li>
                                <a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fa {{documento.archivo_set.all.0.extension}}"></i> {{ documento.nombre }}</a> -
                                (<a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}" title="Enlace al documento"><i class="fa fa-link text-danger"></i></a>)
                                (<a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" target="_blank" title="Abrir en archivo en una pestaña nueva"><i class="fa fa-external-link text-success"></i></a>)
                            </li>
                        {% else %}
                            {% if documento.enlace %}
                                <li><a href="{{documento.enlace}}" target="_blank" title="Enlace externo" rel="external"><i class="fa fa-external-link text-success"></i> {{documento.nombre}}</a></li>
                            {% else %}
                                <li><a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}"><i class="fa fa-link text-danger"></i> {{ documento.nombre }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% empty %}
                        <li>No existen documentos en la categoría padre.</li>
                    {% endfor %}
                </ul>
                <hr>
                <ul>
                  {% for hijo in categoria.categoria_set.all %}
                    <li>
                        <h2>{{hijo.nombre}}</h2>
                        <ul class="list-unstyled">
                            {% for documento in hijo.documento_set.all|dictsortreversed:"fecha"  %}
                                {% if documento.archivo_set.count == 1 %}
                                    <li>
                                        <a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fa {{documento.archivo_set.all.0.extension}}"></i> {{ documento.nombre }}</a> -
                                        (<a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}" title="Enlace al documento"><i class="fa fa-link text-danger"></i></a>)
                                        (<a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" target="_blank" title="Abrir en archivo en una pestaña nueva"><i class="fa fa-external-link text-success"></i></a>)
                                    </li>
                                {% else %}
                                    {% if documento.enlace %}
                                        <li><a href="{{documento.enlace}}" target="_blank" title="Enlace externo" rel="external"><i class="fa fa-external-link text-success"></i> {{documento.nombre}}</a></li>
                                    {% else %}
                                        <li><a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}"><i class="fa fa-link text-danger"></i> {{ documento.nombre }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                <li>No existen documentos en la categoría padre.</li>
                            {% endfor %}
                        </ul>
                        {% if hijo.categoria_set.count != 0 %}
                        <ul>
                            {% for nieto in hijo.categoria_set.all  %}
                            <li>
                                <h3>{{nieto.nombre}}</h3>
                                <ul class="list-unstyled">
                                    {% for documento in nieto.documento_set.all|dictsortreversed:"fecha"  %}
                                        {% if documento.archivo_set.count == 1 %}
                                            <li>
                                                <a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fa {{documento.archivo_set.all.0.extension}}"></i> {{ documento.nombre }}</a> -
                                                (<a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}" title="Enlace al documento"><i class="fa fa-link text-danger"></i></a>)
                                                (<a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" target="_blank" title="Abrir en archivo en una pestaña nueva"><i class="fa fa-external-link text-success"></i></a>)
                                            </li>
                                        {% else %}
                                            {% if documento.enlace %}
                                                <li><a href="{{documento.enlace}}" target="_blank" title="Enlace externo" rel="external"><i class="fa fa-external-link text-success"></i> {{documento.nombre}}</a></li>
                                            {% else %}
                                                <li><a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}"><i class="fa fa-link text-danger"></i> {{ documento.nombre }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% empty %}
                                        <li>No existen documentos en la categoría padre.</li>
                                    {% endfor %}
                                </ul>
                                {% if nieto.categoria_set.count != 0 %}
                                <ul>
                                    {% for bis in nieto.categoria_set.all %}
                                        <li>
                                            <h4>{{bis.nombre}}</h4>
                                            <ul class="list-unstyled">
                                                {% for documento in bis.documento_set.all|dictsortreversed:"fecha"  %}
                                                    {% if documento.archivo_set.count == 1 %}
                                                        <li>
                                                            <a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fa {{documento.archivo_set.all.0.extension}}"></i> {{ documento.nombre }}</a> -
                                                            (<a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}" title="Enlace al documento"><i class="fa fa-link text-danger"></i></a>)
                                                            (<a href="{{documento.archivo_set.all.0.archivo.url}}" data-pk="{{documento.pk}}" target="_blank" title="Abrir en archivo en una pestaña nueva"><i class="fa fa-external-link text-success"></i></a>)
                                                        </li>
                                                    {% else %}
                                                        {% if documento.enlace %}
                                                            <li><a href="{{documento.enlace}}" target="_blank" title="Enlace externo" rel="external"><i class="fa fa-external-link text-success"></i> {{documento.nombre}}</a></li>
                                                        {% else %}
                                                            <li><a href="{% url 'front:documento' documento.pk %}" data-pk="{{documento.pk}}"><i class="fa fa-link text-danger"></i> {{ documento.nombre }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% empty %}
                                                    <li>No existen documentos en la categoría padre.</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>                                
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                  {% empty %}
                      <li>No existen documentos o categorías</li>
                  {% endfor %}
                </ul>
            

            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h3>Otras categorías</h3>
                <ul class="list-unstyled">
                    {% for cat in categorias %}
                        {% if  cat.id == categoria.id %}
                        <li class="comun-lista active">{{ cat.nombre }}</li>
                        {% else %}
                        <li class="comun-lista"><a href="{% url 'front:categoria' cat.slug %}">{{ cat.nombre }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

{% block title %}Documentos en {{categoria.nombre}}{% endblock title %}

{% block page %}
Documentos en {{categoria.nombre}}
{% endblock page %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      {% if categoria.padre.padre.padre  %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.padre.padre.slug %}"><span itemprop="name">{{categoria.padre.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.padre.slug %}"><span itemprop="name">{{categoria.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="3">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.slug %}"><span itemprop="name">{{categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="4">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.slug %}" class="hidden"><span itemprop="name">{{categoria.nombre}}</span></a>
            {{categoria.nombre}}
            <meta itemprop="position" content="5">
        </li>
      {% endif %}

      {% if categoria.padre.padre.padre == None and categoria.padre.padre %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.padre.slug %}"><span itemprop="name">{{categoria.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.slug %}"><span itemprop="name">{{categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="3">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.slug %}" class="hidden"><span itemprop="name">{{categoria.nombre}}</span></a>
            {{categoria.nombre}}
            <meta itemprop="position" content="4">
        </li>
      {% endif %}

      {% if categoria.padre.padre == None and categoria.padre %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.padre.slug %}"><span itemprop="name">{{categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.slug %}" class="hidden"><span itemprop="name">{{categoria.nombre}}</span></a>
            {{categoria.nombre}}
            <meta itemprop="position" content="3">
        </li>
      {% endif %}

      {% if categoria.padre == None %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.slug %}" class="hidden"><span itemprop="name">{{categoria.nombre}}</span></a>
            {{categoria.nombre}}
            <meta itemprop="position" content="2">
        </li>
      {% endif %}
      
    </ol>
{% endblock breadcrumb %}

{% block modal %}
    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="commonModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="commonModalLabel"></h4>
          </div>
          <div class="modal-body">
            <iframe src="" style="zoom:0.60" width="99.6%" height="600" frameborder="0" id="youtube-iframe" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}
