{% extends "front/base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled">
            {% for documento in documentos %}
                <li class="documento-lista">
                    <a href="{% url 'front:documento' documento.id %}">{{documento.nombre}}</a> <br>
                    <span class="fecha"><i class="fa fa-tag"></i> {{documento.categoria.nombre}}</span> <br>
                    <span class="categoría"><i class="fa fa-calendar"></i> {{documento.fecha|date:"d M Y"}}</span> 
                </li>
            {% empty %}
                <li>No existen documentos</li>
            {% endfor %}
            </ul>

            {% if documentos.has_other_pages %}
              <ul class="pagination">
                {% if documentos.has_previous %}
                  <li><a href="?page={{ documentos.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in documentos.paginator.page_range %}
                  {% if documentos.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(actual)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if documentos.has_next %}
                  <li><a href="?page={{ documentos.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        </div>
        <div class="col-md-4">
            <h3>Otras categorías</h3>
            <ul>
                {% for cat in categorias %}
                    <li><a href="{% url 'front:categoria' cat.slug %}">{{ cat.nombre }}</a></li>
                {% endfor %}
                <li><a href="{% url 'front:actividades' %}">Actividades oficiales</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block title %}Documentos en {{categoria.nombre}}{% endblock title %}

{% block page %}Documentos en {{categoria.nombre}}{% endblock page %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" categoria.slug %}" class="hidden"><span itemprop="name">Documentos en {{categoria.nombre}}</span></a>
        Documentos en {{categoria.nombre}}
        <meta itemprop="position" content="2">
      </li>
    </ol>
{% endblock breadcrumb %}