{% extends "front/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
           <p class="documento-fecha"><span class="fecha"><i class="fas fa-calendar"></i> Publicado el {{documento.fecha|date:"d M Y"}}</span></p>

           <div class="documento-desc">
             {{documento.descripcion|safe}}
           </div>

          {% if documento.archivo_set.count != 0 %}
          <h3>Archivos</h3>
            {% if not documento.orden_anual %}

            <table class="table table-striped table-hover sortable">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
              {% for archivo in documento.archivo_set.all|dictsortreversed:"fecha" %}
                <tr>
                  <td>
                    <a href="{{archivo.archivo.url}}" target="_blank" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fas {{archivo.extension}}"></i> {{archivo.nombre}}</a>
                    <a href="{{archivo.archivo.url}}" target="_blank"><i class="fas fa-external-link-alt text-success"></i></a>
                    </td>
                  <td>{{archivo.fecha|date:"d M Y"}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
              {% regroup documento.archivo_set.all by fecha|date:"Y" as otros %}
              {% for item in otros %}
                <table class="table table-striped table-hover sortable">
                <caption>{{item.grouper}}</caption>
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                  </tr>
                </thead>
                <tbody>
                {% for archivo in item.list %}
                  <tr>
                    <td>{{archivo.fecha|date:"d M Y"}}</td>
                    <td>
                      <a href="{{archivo.archivo.url}}" target="_blank" class="{%if documento.archivo_set.all.0.ext == 'pdf'%}show-pdf{%endif%}"><i class="fas {{archivo.extension}}"></i> {{archivo.nombre}}</a>
                      <a href="{{archivo.archivo.url}}" target="_blank"><i class="fas fa-external-link-alt text-success"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endfor %}
            {% endif %}

          {% endif %}

        </div>
        <div class="col-md-4">
            <div class="sidebar">
              <h3>Otros documentos en {{documento.categoria.nombre}}</h3>
              <ul class="list-unstyled">
              {% for documento in documentos %}
                  <li class="documento-lista">
                      <a href="{% url 'front:documento' documento.id %}">{{documento.nombre}}</a> <br>
                      <span class="fecha-lista"><i class="fas fa-calendar"></i> {{documento.fecha|date:"d M Y"}}</span>
                  </li>
              {% empty %}
                  <li>No existen documentos</li>
              {% endfor %}
              </ul>
            </div>
        </div>
    </div>
{% endblock content %}

{% block title %}{{documento.nombre}}{% endblock title %}

{% block page %}{{documento.nombre}}{% endblock page %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      {% if documento.categoria.padre.padre.padre  %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.padre.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="3">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="4">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.slug %}"><span itemprop="name">{{documento.categoria.nombre}}</span></a>
            <meta itemprop="position" content="5">
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
          {{documento.nombre}}
          <meta itemprop="position" content="6">
        </li>
      {% endif %}

      {% if documento.categoria.padre.padre.padre == None and documento.categoria.padre.padre %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="3">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.slug %}"><span itemprop="name">{{documento.categoria.nombre}}</span></a>
            <meta itemprop="position" content="4">
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
          {{documento.nombre}}
          <meta itemprop="position" content="5">
        </li>
      {% endif %}

      {% if documento.categoria.padre.padre == None and documento.categoria.padre %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.padre.slug %}"><span itemprop="name">{{documento.categoria.padre.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.slug %}"><span itemprop="name">{{documento.categoria.nombre}}</span></a>
            <meta itemprop="position" content="3">
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
          {{documento.nombre}}
          <meta itemprop="position" content="4">
        </li>
      {% endif %}

      {% if documento.categoria.padre == None %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:categoria" documento.categoria.slug %}"><span itemprop="name">{{documento.categoria.nombre}}</span></a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
          {{documento.nombre}}
          <meta itemprop="position" content="3">
        </li>
      {% endif %}
    </ol>
    </nav>
{% endblock breadcrumb %}

{% block modal %}
    <div class="modal fade" id="commonModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Vista de documento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <iframe src="" style="zoom:0.60" width="99.6%" height="1200" frameborder="0" id="iframepdf" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="{% static "front/css/sortable.min.css" %}">
{% endblock %}
{% block headjs %}
<script src="{% static "front/js/sortable.min.js" %}"></script>
{% endblock %}
