{% extends "front/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3>Descripción</h3>
            {{evento.descripcion|safe}}
        </div>
        <div class="col-md-5">
            <div class="sidebar">
            <div class="evento-meta">
                <h3>Información del evento</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-user"></i> <strong>Dirige</strong>: {{evento.dirige}}</li>
                        <li><i class="fa fa-users"></i> <strong>Participan</strong>:
                            {% if evento.participan.count != 0 %}
                                <ul>
                                    {% for participante in evento.participan.all %}
                                        <li>{{participante}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        <li><i class="fa fa-user-o"></i> <strong>Junto con</strong>: {{evento.junto_con}}</li>                
                        <li><i class="fa fa-clock-o"></i> <strong>Hora</strong>: {{evento.fecha_hora}}</li>                
                        <li><i class="fa fa-map-marker"></i> <strong>Lugar</strong>: {{evento.lugar}}</li>                
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}

{% block title %}{{evento.asunto}}{% endblock title %}

{% block page %}{{evento.asunto}}{% endblock page %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:actividades" %}"><span itemprop="name">Actividades oficiales</span></a>
        <meta itemprop="position" content="2">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:agenda" evento.dirige.pk %}"><span itemprop="name">{{evento.dirige.nombre}}</span></a>
        <meta itemprop="position" content="3">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:evento" evento.pk %}" class="hidden"><span itemprop="name">{{evento.asunto}}</span></a>
        {{ evento.asunto }}
        <meta itemprop="position" content="4">
      </li>
    </ol>
{% endblock breadcrumb %}

