{% extends "front/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>Descripción</h3>
            {{evento.descripcion|safe}}
        </div>
        <div class="col-md-4">
            <h3>Información del evento</h3>
            <ul class="list-unstyled">
                <li><i class="fa fa-user"></i> Dirige: {{evento.dirige}}</li>
                <li><i class="fa fa-users"></i> Participan: {{evento.junto_con}}</li>                
                <li><i class="fa fa-clock-o"></i> Hora: {{evento.fecha_hora}}</li>                
                <li><i class="fa fa-map-marker"></i> Lugar: {{evento.lugar}}</li>                
            </ul>

        </div>
    </div>
{% endblock content %}

{% block title %}{{evento.asunto}}{% endblock title %}

{% block page %}{{evento.asunto}}{% endblock page %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:index" %}"><span itemprop="name">Inicio</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:actividades" %}"><span itemprop="name">Actividades oficiales</span></a>
        <meta itemprop="position" content="2">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:agenda" evento.dirige.pk %}"><span itemprop="name">{{evento.dirige.nombre}}</span></a>
        <meta itemprop="position" content="3">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="{% url "front:evento" evento.pk %}" class="hidden"><span itemprop="name">{{evento.asunto}}</span></a>
        {{ evento.asunto }}
        <meta itemprop="position" content="4">
      </li>
    </ol>
{% endblock breadcrumb %}

