{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Categorías</h2>
            <div class="row">
                {% for categoria in categorias %}
                    <div class="col-md-4">
                        <div class="categoria">
                            <h4><a href="{% url 'front:categoria' categoria.slug %}">{{ categoria.nombre }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h2>Últimos documentos</h2>
            <ul class="list-unstyled">
            {% for documento in documentos %}
                <li class="documento-lista">
                    <a href="{% url 'front:documento' documento.id %}">{{documento.nombre}}</a> <br>
                    <span class="categoria-lista" title="Categoría"><i class="fas fa-tag"></i> {{documento.categoria.cadena}}</span> <br>
                    <span class="fecha-lista" title="Fecha de subida"><i class="fas fa-calendar"></i> {{documento.fecha|date:"d M Y"}}</span>
                </li>
            {% empty %}
                <li>No existen documentos</li>
            {% endfor %}
            </ul>

            <h2>Agenda de hoy <small><a href="{% url 'front:actividades' %}">(<i class="fas fa-plus"></i>)</a></small></h2>
            <ul class="list-unstyled">
            {% for agenda in agendas %}
                <li class="agenda-lista">
                    <i class="far fa-clock"></i> {{agenda.fecha_hora|date:"h:i"}} - <a href="{% url 'front:evento' agenda.id %}">{{agenda.asunto}}</a> <br>
                    <span class="organiza"><i class="fas fa-user"></i> {{ agenda.dirige }}</span>
                </li>
            {% empty %}
                <li>No existen eventos</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block title %}Portal de Transparencia{% endblock title %}

{% block page %}Portal de Transparencia{% endblock page %}

{% block schema %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Transparencia EGEMSA",
            "url": "http://egemsa.soncco.com"
        }

    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "http://egemsa.soncco.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://egemsa.soncco.com/buscar?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endblock schema %}